

.blogSection {
    max-width: 1280px;
    margin: auto;
    padding: 60px 20px;
}


.blogHeading {
    text-align: center;
    margin-bottom: 60px;
}

.blogHeading h1 {
    font-size: 70px;
      color: #1f3b2c;
    margin-bottom: 15px;
    font-weight: 700px;
}

.blogHeading span {
    color: #2fb389;
}

.blogHeading p {
    color: #666;
    font-size: 18px;
    line-height: 1.8;
    max-width: 700px;
    margin: auto;
}

.blogCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}


.blogCard {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: 0.4s;
    display: flex;
    flex-direction: column;
}

.blogCard:hover {
    transform: translateY(-10px);
}


.image img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.blogContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}


.blogLabel {
    display: inline-block;
    color: #2DA884;
    padding: 2px 18px;
    font-size: 14px;
    margin-bottom: 15px;
}


.blogContent h2 {
    font-size: 18px;
    color: #1d2340;
    line-height: 1.5;
    margin-bottom: 10px;
    
}


.blogIcons {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.iconBox {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #2fb389;
    font-size: 14px;
}


.blogText {
    color: #666;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 15px;
}


.blogContent button {
    margin-top: auto;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 100px;
    background: #2fb389;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.blogContent button:hover {
    background: #239b76;
}


@media (max-width: 1000px) {
    .blogCards {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogHeading h1 {
        font-size: 45px;
    }
}

@media (max-width: 650px) {
    .blogCards {
        grid-template-columns: 1fr;
    }

    .blogHeading h1 {
        font-size: 35px;
    }
}