.faqSection {
    width: 100%;
    padding: 60px 0;
    max-width: 1280px;
    margin: auto;
}

.faqHeading {
    text-align: center;
    margin-bottom: 70px;
}

.faqHeading h1 {
    font-size: 70px;
    color: #1f3b2c;
    margin-bottom: 20px;
    font-weight: 700;
}

.faqHeading span {
    color: #2fb389;
}

.faqHeading p {
    font-size: 18px;
    color: #666;
    line-height: 1.8;
    max-width: 900px;
    margin: auto;
}

.faqContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faqBox {
    background: white;
    border-radius: 20px;
    padding: 35px 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: 0.4s;
}

.faqBoxActive,
.faqBox:hover {
    background: #2fb389;
    color: white;
}

.faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faqQuestion h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.faqQuestion span {
    font-size: 28px;
}

.faqAnswer {
    margin-top: 20px;
}

.faqAnswer p {
    font-size: 15px;
    line-height: 1.8;
    max-width: 1100px;
}


@media (max-width: 900px) {

    .faqHeading h1 {
        font-size: 50px;
    }

    .faqQuestion h2 {
        font-size: 22px;
    }

    .faqAnswer p {
        font-size: 16px;
    }
}

@media (max-width: 600px) {

    .faqSection {
        padding: 60px 0px;
    }

    .faqHeading h1 {
        font-size: 38px;
    }

    .faqBox {
        padding: 10px 5px;
        border-radius: 20px;
    }

    .faqQuestion h2 {
        font-size: 14px;
    }

    .faqQuestion span {
        font-size: 20px;
    }
}