.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    padding: 0 30px;

    color: white;
    z-index: 999;

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.navbar h1 {
    font-weight: 600;
    font-size: 32px;
}


.navLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navLinks ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;

}


.navLinks ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

.navLinks ul li a:hover {
    color: #a9ff9a;
}


.navButtons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.loginBtn,
.signupBtn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
    text-wrap-mode: nowrap;
}

.loginBtn {
    background: #2ecc71;
    color: white;
}

.loginBtn:hover {
    background: #27ae60;
}

.signupBtn {
    background: white;
    color: black;
}

.menuToggle {
    display: none;
    font-size: 32px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

@media (max-width: 768px) {
    .menuToggle {
        display: block;
        /* Shows button on mobile/tablet */
    }

    .sideMenu {
        position: fixed;
        top: 75px;
        left: 0;
        z-index: 9999;
        width: 100%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding: 10px 20px;
        min-height: 80vh;
        animation-direction: alternate;
        animation-duration: 0.2s;

        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }

    .sideMenu.activeMenu {
        transform: translateX(0);
    }


    .sideMenu ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 30px;
        gap: 15px;
        margin: 0;

    }

    .sideMenu ul li a {
        text-decoration: none;
        color: rgb(46, 53, 53);
        font: 600;
        font-size: medium;
    }

}